<div class="container">
    <div class="row d-flex flex-column flex-sm-row align-items-center">
        <div class="col-8">
            <p class="h2 text-white fw-bold fst-italic">
                A great Market that helps you to get any product that you what and you can buy that product any time any where and it reach to you at fastest time with Cheapest price .
            </p>
        </div>
        <div class="col-4">
            <video width="100%" height="300px" autoplay="autoplay">
                <source src="../../../assets/extra-logos/extra-1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>