<div class="container page-wrapper" (click)="onClickHandler()">
    <div class="page-inner">
        <div class="row">
            <div class="el-wrapper">
                <div class="box-up">
                    <img class="img" [src]="product.image" [alt]="product.title" width="100%" height="100%">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name text-white">{{product.title}}</span>
                            <span class="p-company">{{product.category}}</span>
                        </div>
                        <div class="a-size" *ngIf="product.category.includes('clothing')">Available sizes : <span class="size">S
                                ,
                                M , L , XL</span></div>
                        <div class="a-size" *ngIf="!product.category.includes('clothing')">rates : <span class="size text-danger">
                                {{product.rating.rate}}</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price" *ngIf="!product.quantity">${{product.price}}</span>
                        <span class="price" *ngIf="product.quantity">${{+product.price * product.quantity}}</span>
                        <span class="add-to-cart">
                            <span class="txt" *ngIf="!product.quantity">Add in cart</span>
                        <span class="txt" *ngIf="product.quantity">quantity : {{product.quantity}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>