<nav class="navbar navbar-expand-lg bg-warning  navItem" style="z-index: 100;">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="../../../../assets/extra-logos/extra-logos_black.png" width="50px" height="50px" style="scale: 6px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavBar() ">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" routerLink="/" [routerLinkActive]="'active'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" routerLink="/category" [routerLinkActive]="'active'">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold" aria-current="page" routerLink="/category-list" [routerLinkActive]="'active'">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!authService.isAuthenticated$.getValue()">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" routerLink="/auth/login" [routerLinkActive]="'active'">
                            <fa-icon [icon]="login" class="me-2"></fa-icon>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" routerLink="/auth/register" [routerLinkActive]="'active'">
                            <fa-icon [icon]="register" class="me-2"></fa-icon>Register</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="authService.isAuthenticated$.getValue()">
                    <li class="nav-item">
                        <button mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="login" class="me-2"></fa-icon>{{authService.user$.getValue()?.firstName + ' ' + authService.user$.getValue()?.lastName}}
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="/auth/profile">
                              <mat-icon>person</mat-icon>
                              <span style="font-size: smaller;">Profile</span></button>
                            <button mat-menu-item routerLink="/category-list/add">
                                <mat-icon>category</mat-icon>
                                <span style="font-size: smaller;">Category</span></button>
                            <button mat-menu-item>
                              <mat-icon>logout</mat-icon>
                              <span style="font-size: smaller;">logout</span></button>
                        </mat-menu>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" aria-current="page" routerLink="/auth/register" [routerLinkActive]="'active'">
                            <fa-icon [icon]="facart" class="me-2"></fa-icon>Cart <span class="text-success">({{cart}})</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>